<header class="ms-welcome__header ms-bgColor-green ms-u-fadeIn500">
    <img width="90" height="90" src="../../../assets/logo-filled.png" alt="Contoso Task Pane Add-in" title="Contoso Task Pane Add-in" />
    <h1 class="ms-fontSize-su ms-fontWeight-weight ms-fontColor-white" style="text-align: center;">{{welcomeMessage}}</h1>
</header>
<main id="app-body" class="ms-welcome__main">
    <h2 class="ms-font-xl"> Recipients:</h2>
    <div *ngFor="let a of list_dest">
        <p>
            {{a.displayName}}
        </p>
    </div>
    <div role="button" id="run" class="ms-welcome__action ms-Button ms-Button--hero ms-font-xl">
        <span class="ms-Button-label" (click)="run()">Get recipients</span>
    </div>
</main>